/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



body {
  background-image: url(asset_path("takeoff_background_1.jpg"));
  background-attachment: fixed;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#collapse-menu h2{
  position: absolute;
  top: -3px;
}

#collapse-menu li:last-child{
  padding-top: 5px;
}

#content{
  height: 100%;
}

.group {
  height: 100%;
}

.map {
  width: 80%;
  height: 85%;
  min-width: 500px;
  min-height: 350px;
  float: right;
  margin-right: 5%;
  position: relative;
}

.navbar {
  background: rgba(255, 255, 255, 0.75);
}

.sidebar-nav {
  float: left;
  width: 150px;
  margin-left: 20px;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}

.sidebar-nav li {
  display: block;
}

.navbar-top {
  margin-left: 10px;
  margin-right: 10px;
}

.reservation-list {
  width: 70%;
  float: right;
  margin-right: 10%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 0.6);
}

.reservation-index-item li {
  list-style: none;
}

.title {
  margin-left: 4%;
}

.sign-up-in-form {
  margin-left: 7%;
}

img.jet {
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease-in-out;
    // transform:scale(0.3);
    width: 120px;
    height: 90px;
    // object-fit: cover;
    // object-position: center;
    z-index: 0;
    position: absolute;
}

img.jet:hover {
    -webkit-transform:scale(3.7); /* Safari and Chrome */
    -moz-transform:scale(3.7); /* Firefox */
    -ms-transform:scale(3.7); /* IE 9 */
    -o-transform:scale(3.7); /* Opera */
   transform:scale(3.7);
   -webkit-transform-origin: 50% 90px 0;
   -moz-transform-origin: 50% 90px 0;
   -ms-transform-origin: 50% 90px 0;
   -o-transform-origin: 50% 90px 0;
   transform-origin: 50% 90px 0;
    // height: 300px;
    // width: 400px;
    z-index: 10;
    position: relative;
    // position: absolute;

    // object-fit: cover;
    // object-position: center;
}

.jet-images {
  margin: auto;
  text-align: left;
  width: 100%;
  height: 105px;
  position: relative;
}

.jet-images-item {
  display: inline-block;
  padding: 30px;
  width: 23%;
  position: relative;
}


.airport-selector input {
  width: 30%;
}

.airport-selector ul{
  position: absolute;
  width: 50%;
  left: -25px;
}

.airport-selector li{
  display: block;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 100%;
  background: white;
}

.airport-selector li:hover{
  // background: rgba(16, 107, 185, 0.34);
  border: 3px solid lightblue;
  cursor: pointer;
}

.airport-selector li:first-child:hover{
  border: 3px solid lightblue;
}

.airport-selector li:last-child:hover{
  border: 3px solid lightblue;
}

.airport-selector li:first-child{
  border-top: 1px solid gray;
}

.airport-selector li:last-child{
  border-bottom: 1px solid gray;
}

form .date-input{
  width: 30%;
}

form .aircraft-selector{
  width: 30%;
}

form .time-input{
  width: 8%;
}

.price{
  font-weight: bold;
}

// img.jet {
//     -webkit-transition: all 1s ease; /* Safari and Chrome */
//     -moz-transition: all 1s ease; /* Firefox */
//     -ms-transition: all 1s ease; /* IE 9 */
//     -o-transition: all 1s ease; /* Opera */
//     transition: all .5s ease;
//     // transform:scale(0.3);
//     width: 275px;
//     height: 250px;
//     object-fit: cover;
//     object-position: center;
//     z-index: 0;
// }
